main/Kconfig.projbuild filter=git-crypt diff=git-crypt
main/certs/* filter=git-crypt diff=git-crypt
main/certs/original/* filter=git-crypt diff=git-crypt
main/certs/iot-policy/* filter=git-crypt diff=git-crypt
Kconfig filter=git-crypt diff=git-crypt
sdkconfig filter=git-crypt diff=git-crypt
sdkconfig.* filter=git-crypt diff=git-crypt